.btn {
  height: 50px;
  padding: 0 20px;
  background-color: $green;
  border-radius: 99px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: $white;

  cursor: pointer;
  transition: 0.2s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: $green-hover;
    }
  }

  &--small {
    height: initial;
    padding: 8px;
    background-color: $blue-2;

    font-size: 12px;
    text-transform: uppercase;

    &.active {
      background-color: $green;
      box-shadow: 0px 7px 15px rgba(0, 191, 150, 0.25),
        0px 4px 6px rgba(0, 0, 0, 0.06);
    }
  }
}

// @media (max-width: 767px) {
//   .btn {
//     font-size: 14px;
//   }
// }
