.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;

  background-color: $blue-4;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    &__wrapper {
      padding: 20px 0;
    }

    &__nav {
      height: 100dvh;

      position: absolute;
      top: 100%;
      left: 0;

      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease;
    }

    &__burger {
      display: block;
    }

    &.open {
      & .header {
        &__nav {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
