$light-blue: #007bff;
$blue: #1a3d8a;
$blue-2: #162f66;
$blue-3: #0e1e3f;
$blue-4: #0c162a;
$blue-5: #0c111d;
$sky: #95bfff;

$red: #fa0000;
$green: #00a783;
$green-hover: #3cb097;

$grey: #707172;
$white: #ded8d8;
