.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  &__block {
    padding: 30px;
    border-radius: 15px;
    background: $blue-4;

    &--big {
      grid-column: span 2;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__table {
    margin-top: 16px;
    color: $white;
    border-spacing: 6px;

    & td {
      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .partners {
    grid-template-columns: initial;
    gap: 15px;

    &__block {
      padding: 15px;

      &--big {
        grid-column: initial;
      }
    }

    &__title {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 374px) {
  .partners {
    &__table {
      border-spacing: 3px;

      & td {
        font-size: 14px;

        &:not(:last-of-type) {
          padding-right: 10px;
        }
      }
    }
  }
}
