.reviews {
  margin-top: 30px;

  &__wrapper {
    position: relative;
    z-index: 1;

    padding: 30px 50px;
    background-color: $blue-4;
    border-radius: 15px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    margin-top: 20px;
  }
}

@media (max-width: 1439px) {
  .reviews {
    &__wrapper {
      padding: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .reviews {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    &__wrapper {
      padding: 20px;
    }

    &__grid {
      grid-template-columns: initial;
    }
  }
}
