.start {
  padding-top: 20px;

  &__mode {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-bottom: 20px;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    gap: 30px;
  }

  &__column {
    display: grid;

    &:last-of-type {
      & .start__block {
        border-radius: 15px;
      }
    }
  }

  &__block {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 50px;
    background-color: $blue-3;
    border-radius: 15px 15px 0 0;
  }

  &__num {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    background-color: $blue;
    border-radius: 15px 0 15px 0;
  }

  &__head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
  }

  &__box {
    display: grid;
    gap: 15px;
  }

  &__coins {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46px, 1fr));
    gap: 5px 3px;
  }

  &__bottom {
    display: grid;
    gap: 20px;

    padding: 50px;
    background-color: $blue-4;
    border-radius: 0 0 15px 15px;
  }

  &__list {
    max-height: 120px;
    padding-right: 15px;
    overflow-y: auto;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;

      &-thumb {
        background-color: $sky;
        border-radius: 99px;
      }

      &-track {
        background-color: $blue-4;
        border-radius: 99px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    border-radius: 99px;

    cursor: pointer;

    &.active {
      background-color: $blue-2;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1439px) {
  .start {
    &__wrapper {
      gap: 20px;
    }

    &__block {
      padding: 50px 30px 30px;
    }

    &__bottom {
      padding: 30px;
    }
  }
}

@media (max-width: 1279px) {
  .start {
    &__block {
      padding: 50px 20px 30px;
    }

    &__bottom {
      padding: 30px 20px;
    }
  }
}

@media (max-width: 1023px) {
  .start {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }

    &__column {
      &:last-of-type {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: 767px) {
  .start {
    &__wrapper {
      grid-template-columns: initial;
      gap: 30px;
    }

    &__column {
      &:last-of-type {
        grid-column: initial;
      }
    }

    &__block {
      gap: 20px;
      padding: 40px 20px 20px;
    }

    &__bottom {
      gap: 10px;
      padding: 20px;
    }

    &__list {
      max-height: 160px;
    }
  }
}
